ingest/jobs/Get_Ingest_Config/adfpipeline/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "amido-stacks-dev-euw-de"
        },
        "ls_Blob_ConfigStore_properties_typeProperties_serviceEndpoint": {
            "type": "string",
            "defaultValue": "https://amidostacksdeveuwdeconfi.blob.core.windows.net/"
    }
},
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/adf-managed-vnet-runtime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "West Europe",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 0,
                            "cleanup": true
                        }
                    }
                },
                "managedVirtualNetwork": {
                    "type": "ManagedVirtualNetworkReference",
                    "referenceName": "default"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
       
        {
            "name": "[concat(parameters('factoryName'), '/Get_Ingest_Config')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Retrieve ingest config from the config store for the specified data source.",
                "activities": [
                    {
                        "name": "Lookup_Config",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": false,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "ds_dp_ConfigStore_Json",
                                "type": "DatasetReference",
                                "parameters": {
                                    "filename": {
                                        "value": "@pipeline().parameters.config_file",
                                        "type": "Expression"
                                    },
                                    "path": {
                                        "value": "@pipeline().parameters.config_path",
                                        "type": "Expression"
                                    },
                                    "container": {
                                        "value": "@pipeline().parameters.config_container",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Return_Config",
                        "type": "SetVariable",
                        "dependsOn": [
                            {
                                "activity": "Filter_Enabled",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "variableName": "pipelineReturnValue",
                            "value": [
                                {
                                    "key": "config",
                                    "value": {
                                        "type": "Expression",
                                        "content": "@activity('Filter_Enabled').output['Value']"
                                    }
                                }
                            ],
                            "setSystemVariable": true
                        }
                    },
                    {
                        "name": "Filter_Enabled",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "Lookup_Config",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup_Config').output.value",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@equals(item()['enabled'],true)",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "config_container": {
                        "type": "string",
                        "defaultValue": "config"
                    },
                    "config_path": {
                        "type": "string",
                        "defaultValue": "ingest_sources"
                    },
                    "config_file": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "Utilities"
                },
                "annotations": [],
                "lastPublishTime": "2023-05-15T11:08:48Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_dp_ConfigStore_Json')]"
            ]
        },
        
        {
            "name": "[concat(parameters('factoryName'), '/ds_dp_ConfigStore_Json')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_Blob_ConfigStore",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "filename": {
                        "type": "String"
                    },
                    "path": {
                        "type": "String"
                    },
                    "container": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "Data_Platform/Config_Store"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().filename",
                            "type": "Expression"
                        },
                        "folderPath": {
                            "value": "@dataset().path",
                            "type": "Expression"
                        },
                        "container": {
                            "value": "@dataset().container",
                            "type": "Expression"
                        }
                    },
                    "encodingName": "UTF-8"
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_Blob_ConfigStore')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/adf-managed-vnet-runtime')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "Managed",
                "typeProperties": {
                    "computeProperties": {
                        "location": "West Europe",
                        "dataFlowProperties": {
                            "computeType": "General",
                            "coreCount": 8,
                            "timeToLive": 0,
                            "cleanup": true
                        }
                    }
                },
                "managedVirtualNetwork": {
                    "type": "ManagedVirtualNetworkReference",
                    "referenceName": "default"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_Blob_ConfigStore')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "serviceEndpoint": "[parameters('ls_Blob_ConfigStore_properties_typeProperties_serviceEndpoint')]",
                    "accountKind": "BlobStorage"
                },
                "connectVia": {
                    "referenceName": "adf-managed-vnet-runtime",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/adf-managed-vnet-runtime')]"
            ]
        }
       
    ]
}
