de_workloads/shared_resources/data_factory/pipelines/Generate_Ingest_Query.json
[
    {
        "name": "Load_Type",
        "type": "Switch",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
            "on": {
                "value": "@pipeline().parameters.ingest_entity_config['load_type']",
                "type": "Expression"
            },
            "cases": [
                {
                    "value": "full",
                    "activities": [
                        {
                            "name": "Full_Load_Query",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "query",
                                "value": {
                                    "value": "SELECT @{pipeline().parameters.ingest_entity_config['columns']}\nFROM @{pipeline().parameters.ingest_entity_config['schema']}.@{pipeline().parameters.ingest_entity_config['table']};",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                },
                {
                    "value": "delta",
                    "activities": [
                        {
                            "name": "Delta_Load_Query",
                            "description": "",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "query",
                                "value": {
                                    "value": "SELECT @{pipeline().parameters.ingest_entity_config['columns']}\nFROM @{pipeline().parameters.ingest_entity_config['schema']}.@{pipeline().parameters.ingest_entity_config['table']}\nWHERE @{pipeline().parameters.ingest_entity_config['delta_date_column']} >= '@{pipeline().parameters.window_start}'\nAND @{pipeline().parameters.ingest_entity_config['delta_date_column']} < '@{pipeline().parameters.window_end}';",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            ]
        }
    },
    {
        "name": "Return_Query",
        "type": "SetVariable",
        "dependsOn": [
            {
                "activity": "Load_Type",
                "dependencyConditions": [
                    "Succeeded"
                ]
            }
        ],
        "userProperties": [],
        "typeProperties": {
            "variableName": "pipelineReturnValue",
            "value": [
                {
                    "key": "generated_query",
                    "value": {
                        "type": "Expression",
                        "content": "@variables('query')"
                    }
                }
            ],
            "setSystemVariable": true
        }
    }
]