de_workloads/ingest_template/Ingest_AzureSql_Example_DQ/data_factory/test_bad.json
{
    "name": "NEW_Get_Ingest_Config",
    "properties": {
        "description": "Retrieve ingest config from the config store for the specified data source.",
        "activities": [
            {
                "name": "Lookup_Config",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "ds_dp_ConfigStore_Json",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": {
                                "value": "@pipeline().parameters.config_container",
                                "type": "Expression"
                            },
                            "filename": {
                                "value": "@pipeline().parameters.config_file",
                                "type": "Expression"
                            },
                            "path": {
                                "value": "@pipeline().parameters.config_path",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Return_Config",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Filter_Enabled",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipelineReturnValue",
                    "value": "[{\"key\":\"config\",\"value\":{\"content\":\"@activity('Filter_Enabled').output['Value']\",\"type\":\"Expression\"}}]"
                }
            },
            {
                "name": "Filter_Enabled",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Lookup_Config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup_Config').output.value",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@equals(item()['enabled'],true)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "config_container": {
                "type": "String",
                "defaultValue": "config"
            },
            "config_file": {
                "type": "String"
            },
            "config_path": {
                "type": "String"
            }
        },
        "folder": {
            "name": "Utilities"
        },
        "annotations": [],
        "lastPublishTime": "2023-07-07T16:18:56Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
